.header-background {
  background-color: none;
}
.sub-header-background {
  margin-bottom: 10px;
}

.header-text {
  color: #282c34;
}
.rating span {
  color: yellow;
}
.btnAddCart {
  justify-content: 'center';
  align-items: 'center';
  background-color: beige;
  text-align: center;
}
.img-large {
  max-width: 100%;
}

button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
